body{
    font-family: 'Otomanopee One', sans-serif;
    background-color: rgb(245, 245, 245);
    display: flex;
}
a{
    text-decoration: none;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    height: 5px;
    width: 5px;
    padding-left: 5px;
}
.sometext{
    padding-top: 10%;
}
.img{
    padding-top: 2%;
}